.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson120-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson120-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson120-navlink {
  display: contents;
}
.lesson120-image {
  height: 2rem;
  text-decoration: none;
}
.lesson120-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson120-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson120-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson120-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson120-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson120-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson120-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson120-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson120-burger-menu {
  display: none;
}
.lesson120-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson120-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson120-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson120-image1 {
  height: 2rem;
}
.lesson120-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson120-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson120-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson120-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson120-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson120-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson120-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson120-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson120-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson120-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson120-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson120-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson120-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson120-tocmobile {
  display: none;
}
.lesson120-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson120-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-ul {
  padding-left: 0px;
}
.lesson120-link {
  text-decoration: none;
}
.lesson120-link01 {
  text-decoration: none;
}
.lesson120-link02 {
  text-decoration: none;
}
.lesson120-link03 {
  text-decoration: none;
}
.lesson120-left-content {
  width: 880px;
}
.lesson120-text006 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson120-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson120-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson120-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-text009 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson120-text012 {
  margin-bottom: 20px;
}
.lesson120-text015 {
  margin-bottom: 20px;
}
.lesson120-text051 {
  margin-bottom: 20px;
}
.lesson120-text062 {
  margin-bottom: 20px;
}
.lesson120-text067 {
  margin-bottom: 20px;
}
.lesson120-text070 {
  margin-bottom: 20px;
}
.lesson120-text075 {
  margin-bottom: 20px;
}
.lesson120-text080 {
  margin-bottom: 20px;
}
.lesson120-text086 {
  margin-bottom: 20px;
}
.lesson120-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-text090 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson120-text091 {
  margin-bottom: 20px;
}
.lesson120-text106 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson120-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson120-text108 {
  margin-bottom: 20px;
}
.lesson120-text111 {
  margin-bottom: 20px;
}
.lesson120-text127 {
  margin-bottom: 20px;
}
.lesson120-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-text132 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson120-text135 {
  margin-bottom: 20px;
}
.lesson120-text136 {
  margin-bottom: 20px;
}
.lesson120-text139 {
  margin-bottom: 20px;
}
.lesson120-text143 {
  margin-bottom: 20px;
}
.lesson120-text146 {
  margin-bottom: 20px;
}
.lesson120-text147 {
  margin-bottom: 20px;
}
.lesson120-text148 {
  margin-bottom: 20px;
}
.lesson120-text149 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson120-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson120-text151 {
  margin-bottom: 20px;
}
.lesson120-text154 {
  margin-bottom: 20px;
}
.lesson120-text204 {
  margin-bottom: 20px;
}
.lesson120-text209 {
  margin-bottom: 20px;
}
.lesson120-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-text222 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson120-text223 {
  margin-bottom: 20px;
}
.lesson120-item {
  text-decoration: none;
}
.lesson120-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson120-text228 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson120-item1 {
  text-decoration: none;
}
.lesson120-text229 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson120-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson120-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson120-text230 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson120-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson120-ul1 {
  padding-left: 0px;
}
.lesson120-link04 {
  text-decoration: none;
}
.lesson120-link05 {
  text-decoration: none;
}
.lesson120-link06 {
  text-decoration: none;
}
.lesson120-link07 {
  text-decoration: none;
}
.lesson120-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson120-container13 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson120-container14 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson120-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson120-link09 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson120-link10 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson120-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson120-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson120-text231 {
  color: var(--dl-color-gray-white);
}
.lesson120-text232 {
  color: var(--dl-color-gray-white);
}
.lesson120-link11 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson120-header-lesson {
    align-self: center;
  }
  .lesson120-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-hero {
    align-self: center;
  }
  .lesson120-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson120-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson120-tocmobile {
    display: none;
  }
  .lesson120-text231 {
    color: var(--dl-color-gray-white);
  }
  .lesson120-text232 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson120-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson120-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson120-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson120-text001 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson120-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson120-tocmobile {
    display: none;
  }
  .lesson120-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson120-link {
    text-decoration: none;
  }
  .lesson120-link01 {
    text-decoration: none;
  }
  .lesson120-link02 {
    text-decoration: none;
  }
  .lesson120-link03 {
    text-decoration: none;
  }
  .lesson120-left-content {
    position: relative;
  }
  .lesson120-text003 {
    line-height: 24px;
  }
  .lesson120-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text006 {
    font-size: 16px;
    font-family: Inter;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson120-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson120-text009 {
    font-size: 24px;
  }
  .lesson120-text055 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text059 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text061 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text072 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text074 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text077 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text079 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text085 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text088 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text090 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson120-text093 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text095 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text105 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-info1 {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text106 {
    font-size: 16px;
    font-family: Inter;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson120-text116 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text121 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text125 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text129 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text132 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson120-text147 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-info2 {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text149 {
    font-size: 16px;
    font-family: Inter;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson120-text211 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text213 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text218 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text220 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text222 {
    font-size: 24px;
  }
  .lesson120-text225 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson120-text228 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson120-text229 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson120-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson120-text230 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson120-link04 {
    text-decoration: none;
  }
  .lesson120-link05 {
    text-decoration: none;
  }
  .lesson120-link06 {
    text-decoration: none;
  }
  .lesson120-link07 {
    text-decoration: none;
  }
  .lesson120-link09 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson120-link10 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson120-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson120-text231 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson120-text232 {
    color: var(--dl-color-gray-white);
  }
  .lesson120-link11 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson120-hero {
    flex-direction: column;
  }
  .lesson120-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson120-text {
    text-align: left;
  }
  .lesson120-container04 {
    flex-direction: column;
  }
  .lesson120-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson120-left-content {
    width: 100%;
  }
  .lesson120-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson120-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson120-nav {
    display: none;
  }
  .lesson120-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson120-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson120-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson120-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson120-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson120-icon {
    width: 24px;
    height: 24px;
  }
  .lesson120-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson120-text {
    text-align: left;
  }
  .lesson120-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-tocmobile {
    position: relative;
  }
  .lesson120-left-content {
    width: 100%;
  }
  .lesson120-toc {
    width: 100%;
  }
  .lesson120-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson120-text231 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-text232 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson120-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson120-icon {
    width: 24px;
    height: 24px;
  }
  .lesson120-mobile-menu {
    padding: 16px;
  }
  .lesson120-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson120-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson120-text {
    text-align: left;
  }
  .lesson120-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson120-tocmobile {
    position: relative;
  }
  .lesson120-left-content {
    width: 100%;
  }
  .lesson120-toc {
    width: 100%;
  }
  .lesson120-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson120-text231 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson120-text232 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
