.lesson07-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson07-header-other {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson07-navlink {
  display: contents;
}
.lesson07-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson07-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson07-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson07-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-link {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-link:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-link01 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-link01:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-burger-menu {
  display: none;
}
.lesson07-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson07-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson07-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson07-image1 {
  height: 2rem;
}
.lesson07-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson07-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson07-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson07-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-link02 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-link02:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-link03 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-link03:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson07-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson07-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson07-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson07-text03 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson07-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson07-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson07-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson07-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson07-tocmobile {
  display: none;
}
.lesson07-text04 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson07-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-ul {
  padding-left: 0px;
}
.lesson07-link05 {
  text-decoration: none;
}
.lesson07-link06 {
  text-decoration: none;
}
.lesson07-left-content {
  width: 880px;
}
.lesson07-container05 {
  height: 100%;
}
.lesson07-arrowdown1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text08 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-container06 {
  height: 100%;
}
.lesson07-arrowdown11 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text09 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-container07 {
  height: 100%;
}
.lesson07-arrowdown12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text10 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-container08 {
  height: 100%;
}
.lesson07-arrowdown13 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text11 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-text12 {
  margin-bottom: 20px;
}
.lesson07-container09 {
  height: 100%;
}
.lesson07-arrowdown14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text16 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-text18 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-container10 {
  height: 100%;
}
.lesson07-arrowdown15 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson07-text19 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson07-text22 {
  margin-bottom: 20px;
}
.lesson07-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-text25 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson07-text26 {
  margin-bottom: 20px;
}
.lesson07-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-text27 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson07-text28 {
  margin-bottom: 20px;
}
.lesson07-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-text29 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson07-text30 {
  margin-bottom: 20px;
}
.lesson07-item {
  text-decoration: none;
}
.lesson07-arrowdown16 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson07-text31 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson07-item1 {
  text-decoration: none;
}
.lesson07-text32 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson07-arrowdown17 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson07-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson07-text33 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson07-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson07-ul1 {
  padding-left: 0px;
}
.lesson07-link08 {
  text-decoration: none;
}
.lesson07-link09 {
  text-decoration: none;
}
.lesson07-footer-other {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson07-container14 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson07-container15 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson07-image2 {
  cursor: pointer;
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson07-link11 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-link12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson07-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson07-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson07-text36 {
  color: var(--dl-color-gray-white);
}
.lesson07-text37 {
  color: var(--dl-color-gray-white);
}
.lesson07-link13 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson07-header-other {
    align-self: center;
  }
  .lesson07-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-hero {
    align-self: center;
  }
  .lesson07-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson07-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson07-tocmobile {
    display: none;
  }
  .lesson07-link08 {
    text-decoration: none;
  }
  .lesson07-text36 {
    color: var(--dl-color-gray-white);
  }
  .lesson07-text37 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson07-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson07-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson07-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson07-text03 {
    color: var(--dl-color-default-primary_3);
    font-size: 18px;
    line-height: 1.5;
  }
  .lesson07-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson07-tocmobile {
    display: none;
  }
  .lesson07-text04 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson07-link05 {
    text-decoration: none;
  }
  .lesson07-text05 {
    text-decoration: none;
  }
  .lesson07-text06 {
    text-decoration: none;
  }
  .lesson07-link06 {
    text-decoration: none;
  }
  .lesson07-left-content {
    position: relative;
  }
  .lesson07-text07 {
    line-height: 24px;
  }
  .lesson07-navlink3 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson07-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson07-text25 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson07-text27 {
    font-size: 24px;
  }
  .lesson07-text29 {
    font-size: 24px;
  }
  .lesson07-text31 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson07-text32 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson07-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson07-text33 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson07-link08 {
    text-decoration: none;
  }
  .lesson07-link09 {
    text-decoration: none;
  }
  .lesson07-link11 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson07-link12 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson07-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson07-text36 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson07-text37 {
    color: var(--dl-color-gray-white);
  }
  .lesson07-link13 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson07-hero {
    flex-direction: column;
  }
  .lesson07-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson07-text {
    text-align: left;
  }
  .lesson07-container04 {
    flex-direction: column;
  }
  .lesson07-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson07-link05 {
    text-decoration: none;
  }
  .lesson07-text05 {
    text-decoration: none;
  }
  .lesson07-text06 {
    text-decoration: none;
  }
  .lesson07-link06 {
    text-decoration: none;
  }
  .lesson07-left-content {
    width: 100%;
  }
  .lesson07-toc {
    width: 100%;
    display: none;
  }
  .lesson07-link08 {
    text-decoration: none;
  }
  .lesson07-text34 {
    text-decoration: none;
  }
  .lesson07-text35 {
    text-decoration: none;
  }
  .lesson07-link09 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson07-header-other {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-nav {
    display: none;
  }
  .lesson07-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson07-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-link01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson07-icon {
    width: 24px;
    height: 24px;
  }
  .lesson07-nav3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-navlink2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-link02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-link03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson07-text {
    text-align: left;
  }
  .lesson07-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-tocmobile {
    position: relative;
  }
  .lesson07-left-content {
    width: 100%;
  }
  .lesson07-toc {
    width: 100%;
  }
  .lesson07-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson07-text36 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-text37 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson07-header-other {
    padding: var(--dl-space-space-unit);
  }
  .lesson07-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .lesson07-icon {
    width: 24px;
    height: 24px;
  }
  .lesson07-mobile-menu {
    top: 0px;
    padding: 16px;
  }
  .lesson07-container01 {
    margin-top: 4px;
  }
  .lesson07-close-mobile-menu {
    width: 40px;
    height: 40px;
  }
  .lesson07-icon2 {
    width: 24px;
    height: 24px;
  }
  .lesson07-nav3 {
    gap: var(--dl-space-space-unit);
  }
  .lesson07-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson07-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson07-text {
    text-align: left;
  }
  .lesson07-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson07-tocmobile {
    position: relative;
  }
  .lesson07-left-content {
    width: 100%;
  }
  .lesson07-toc {
    width: 100%;
  }
  .lesson07-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-container16 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson07-text36 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson07-text37 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
