.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson112-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson112-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson112-navlink {
  display: contents;
}
.lesson112-image {
  height: 2rem;
  text-decoration: none;
}
.lesson112-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson112-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson112-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson112-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson112-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson112-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson112-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson112-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson112-burger-menu {
  display: none;
}
.lesson112-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson112-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson112-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson112-image1 {
  height: 2rem;
}
.lesson112-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson112-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson112-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson112-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson112-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson112-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson112-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson112-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson112-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson112-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson112-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson112-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson112-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson112-tocmobile {
  display: none;
}
.lesson112-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson112-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-ul {
  padding-left: 0px;
}
.lesson112-link {
  text-decoration: none;
}
.lesson112-link01 {
  text-decoration: none;
}
.lesson112-link02 {
  text-decoration: none;
}
.lesson112-link03 {
  text-decoration: none;
}
.lesson112-link04 {
  text-decoration: none;
}
.lesson112-link05 {
  text-decoration: none;
}
.lesson112-left-content {
  width: 880px;
}
.lesson112-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text004 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text005 {
  margin-bottom: 20px;
}
.lesson112-text008 {
  margin-bottom: 20px;
}
.lesson112-text032 {
  margin-bottom: 20px;
}
.lesson112-text033 {
  margin-bottom: 20px;
}
.lesson112-text036 {
  margin-bottom: 20px;
}
.lesson112-text039 {
  margin-bottom: 20px;
}
.lesson112-text042 {
  margin-bottom: 20px;
}
.lesson112-text045 {
  margin-bottom: 20px;
}
.lesson112-text049 {
  margin-bottom: 20px;
}
.lesson112-text050 {
  margin-bottom: 20px;
}
.lesson112-text074 {
  margin-bottom: 20px;
}
.lesson112-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text079 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text080 {
  margin-bottom: 20px;
}
.lesson112-text100 {
  margin-bottom: 20px;
}
.lesson112-text101 {
  margin-bottom: 20px;
}
.lesson112-text102 {
  margin-bottom: 20px;
}
.lesson112-text130 {
  margin-bottom: 20px;
}
.lesson112-text131 {
  margin-bottom: 20px;
}
.lesson112-text136 {
  margin-bottom: 20px;
}
.lesson112-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text142 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text143 {
  margin-bottom: 20px;
}
.lesson112-text149 {
  margin-bottom: 20px;
}
.lesson112-text167 {
  margin-bottom: 20px;
}
.lesson112-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text168 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text169 {
  margin-bottom: 20px;
}
.lesson112-text175 {
  margin-bottom: 20px;
}
.lesson112-text187 {
  margin-bottom: 20px;
}
.lesson112-text191 {
  margin-bottom: 20px;
}
.lesson112-text192 {
  margin-bottom: 20px;
}
.lesson112-text195 {
  margin-bottom: 20px;
}
.lesson112-text197 {
  margin-bottom: 20px;
}
.lesson112-text200 {
  margin-bottom: 20px;
}
.lesson112-text202 {
  margin-bottom: 20px;
}
.lesson112-text205 {
  margin-bottom: 20px;
}
.lesson112-text207 {
  margin-bottom: 20px;
}
.lesson112-text210 {
  margin-bottom: 20px;
}
.lesson112-text212 {
  margin-bottom: 20px;
}
.lesson112-text215 {
  margin-bottom: 20px;
}
.lesson112-text219 {
  margin-bottom: 20px;
}
.lesson112-text220 {
  margin-bottom: 20px;
}
.lesson112-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text221 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text222 {
  margin-bottom: 20px;
}
.lesson112-text230 {
  margin-bottom: 20px;
}
.lesson112-text238 {
  margin-bottom: 20px;
}
.lesson112-text244 {
  margin-bottom: 20px;
}
.lesson112-text272 {
  margin-bottom: 20px;
}
.lesson112-text273 {
  margin-bottom: 20px;
}
.lesson112-text301 {
  margin-bottom: 20px;
}
.lesson112-text302 {
  margin-bottom: 20px;
}
.lesson112-text330 {
  margin-bottom: 20px;
}
.lesson112-text358 {
  margin-bottom: 20px;
}
.lesson112-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-text359 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson112-text360 {
  margin-bottom: 20px;
}
.lesson112-text378 {
  margin-bottom: 20px;
}
.lesson112-text388 {
  margin-bottom: 20px;
}
.lesson112-item {
  text-decoration: none;
}
.lesson112-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson112-text410 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson112-item1 {
  text-decoration: none;
}
.lesson112-text411 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson112-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson112-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson112-text412 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson112-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson112-ul1 {
  padding-left: 0px;
}
.lesson112-link06 {
  text-decoration: none;
}
.lesson112-link07 {
  text-decoration: none;
}
.lesson112-link08 {
  text-decoration: none;
}
.lesson112-link09 {
  text-decoration: none;
}
.lesson112-link10 {
  text-decoration: none;
}
.lesson112-link11 {
  text-decoration: none;
}
.lesson112-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson112-container11 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson112-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson112-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson112-link13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson112-link14 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson112-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson112-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson112-text413 {
  color: var(--dl-color-gray-white);
}
.lesson112-text414 {
  color: var(--dl-color-gray-white);
}
.lesson112-link15 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson112-header-lesson {
    align-self: center;
  }
  .lesson112-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-hero {
    align-self: center;
  }
  .lesson112-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson112-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson112-tocmobile {
    display: none;
  }
  .lesson112-text413 {
    color: var(--dl-color-gray-white);
  }
  .lesson112-text414 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson112-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson112-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson112-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-text001 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson112-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson112-tocmobile {
    display: none;
  }
  .lesson112-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-link {
    text-decoration: none;
  }
  .lesson112-link01 {
    text-decoration: none;
  }
  .lesson112-link02 {
    text-decoration: none;
  }
  .lesson112-link03 {
    text-decoration: none;
  }
  .lesson112-link04 {
    text-decoration: none;
  }
  .lesson112-link05 {
    text-decoration: none;
  }
  .lesson112-left-content {
    position: relative;
  }
  .lesson112-text003 {
    line-height: 24px;
  }
  .lesson112-text004 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-text036 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson112-text042 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson112-text079 {
    font-size: 24px;
  }
  .lesson112-text142 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-text168 {
    font-size: 24px;
  }
  .lesson112-text221 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-text359 {
    font-size: 24px;
  }
  .lesson112-text410 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson112-text411 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson112-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson112-text412 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson112-link06 {
    text-decoration: none;
  }
  .lesson112-link07 {
    text-decoration: none;
  }
  .lesson112-link08 {
    text-decoration: none;
  }
  .lesson112-link09 {
    text-decoration: none;
  }
  .lesson112-link10 {
    text-decoration: none;
  }
  .lesson112-link11 {
    text-decoration: none;
  }
  .lesson112-link13 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson112-link14 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson112-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson112-text413 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson112-text414 {
    color: var(--dl-color-gray-white);
  }
  .lesson112-link15 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson112-hero {
    flex-direction: column;
  }
  .lesson112-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson112-text {
    text-align: left;
  }
  .lesson112-container04 {
    flex-direction: column;
  }
  .lesson112-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson112-left-content {
    width: 100%;
  }
  .lesson112-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson112-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson112-nav {
    display: none;
  }
  .lesson112-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson112-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson112-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson112-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson112-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson112-icon {
    width: 24px;
    height: 24px;
  }
  .lesson112-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson112-text {
    text-align: left;
  }
  .lesson112-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-tocmobile {
    position: relative;
  }
  .lesson112-left-content {
    width: 100%;
  }
  .lesson112-toc {
    width: 100%;
  }
  .lesson112-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson112-text413 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-text414 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson112-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson112-icon {
    width: 24px;
    height: 24px;
  }
  .lesson112-mobile-menu {
    padding: 16px;
  }
  .lesson112-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson112-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson112-text {
    text-align: left;
  }
  .lesson112-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson112-tocmobile {
    position: relative;
  }
  .lesson112-left-content {
    width: 100%;
  }
  .lesson112-toc {
    width: 100%;
  }
  .lesson112-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson112-text413 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson112-text414 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
