.lesson14-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson14-header-other {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson14-navlink {
  display: contents;
}
.lesson14-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson14-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson14-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson14-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-link {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-link:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-link01 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-link01:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-burger-menu {
  display: none;
}
.lesson14-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson14-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson14-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson14-image1 {
  height: 2rem;
}
.lesson14-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson14-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson14-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson14-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-link02 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-link02:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-link03 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-link03:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson14-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson14-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson14-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson14-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson14-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson14-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson14-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson14-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson14-tocmobile {
  display: none;
}
.lesson14-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson14-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-ul {
  padding-left: 0px;
}
.lesson14-link04 {
  text-decoration: none;
}
.lesson14-link05 {
  text-decoration: none;
}
.lesson14-link06 {
  text-decoration: none;
}
.lesson14-link07 {
  text-decoration: none;
}
.lesson14-left-content {
  width: 880px;
}
.lesson14-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-text006 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson14-text007 {
  margin-bottom: 20px;
}
.lesson14-text011 {
  margin-bottom: 20px;
}
.lesson14-text025 {
  margin-bottom: 20px;
}
.lesson14-text031 {
  margin-bottom: 20px;
}
.lesson14-text047 {
  margin-bottom: 20px;
}
.lesson14-text055 {
  margin-bottom: 20px;
}
.lesson14-text071 {
  margin-bottom: 20px;
}
.lesson14-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-text076 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson14-text077 {
  margin-bottom: 20px;
}
.lesson14-text085 {
  margin-bottom: 20px;
}
.lesson14-text101 {
  margin-bottom: 20px;
}
.lesson14-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-text108 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson14-text109 {
  margin-bottom: 20px;
}
.lesson14-text121 {
  margin-bottom: 20px;
}
.lesson14-text141 {
  margin-bottom: 20px;
}
.lesson14-text160 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson14-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson14-text162 {
  margin-bottom: 20px;
}
.lesson14-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-text163 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson14-text164 {
  margin-bottom: 20px;
}
.lesson14-item {
  text-decoration: none;
}
.lesson14-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson14-text218 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson14-item1 {
  text-decoration: none;
}
.lesson14-text219 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson14-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson14-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson14-text220 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson14-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson14-ul1 {
  padding-left: 0px;
}
.lesson14-link08 {
  text-decoration: none;
}
.lesson14-link09 {
  text-decoration: none;
}
.lesson14-link10 {
  text-decoration: none;
}
.lesson14-link11 {
  text-decoration: none;
}
.lesson14-footer-other {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson14-container10 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson14-container11 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson14-image2 {
  cursor: pointer;
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson14-link13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-link14 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson14-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson14-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson14-text221 {
  color: var(--dl-color-gray-white);
}
.lesson14-text222 {
  color: var(--dl-color-gray-white);
}
.lesson14-link15 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson14-header-other {
    align-self: center;
  }
  .lesson14-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-hero {
    align-self: center;
  }
  .lesson14-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson14-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson14-tocmobile {
    display: none;
  }
  .lesson14-text221 {
    color: var(--dl-color-gray-white);
  }
  .lesson14-text222 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson14-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson14-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson14-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-text001 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson14-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson14-tocmobile {
    display: none;
  }
  .lesson14-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-link04 {
    text-decoration: none;
  }
  .lesson14-link05 {
    text-decoration: none;
  }
  .lesson14-link06 {
    text-decoration: none;
  }
  .lesson14-link07 {
    text-decoration: none;
  }
  .lesson14-left-content {
    position: relative;
  }
  .lesson14-text003 {
    line-height: 24px;
  }
  .lesson14-text006 {
    font-size: 24px;
  }
  .lesson14-text029 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text051 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text075 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text076 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-text079 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text081 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text083 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text105 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text106 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text107 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text108 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-text111 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text113 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text115 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text117 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text119 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text143 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text145 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text150 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text154 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text155 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text156 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text160 {
    text-transform: none;
  }
  .lesson14-text163 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-text166 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text168 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text170 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text172 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text176 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text178 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text182 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text183 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text189 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text196 {
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text198 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text201 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text204 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text209 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text211 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text213 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text214 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text216 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text218 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson14-text219 {
    line-height: normal;
  }
  .lesson14-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson14-text220 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson14-link08 {
    text-decoration: none;
  }
  .lesson14-link09 {
    text-decoration: none;
  }
  .lesson14-link10 {
    text-decoration: none;
  }
  .lesson14-link11 {
    text-decoration: none;
  }
  .lesson14-link13 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson14-link14 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson14-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson14-text221 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson14-text222 {
    color: var(--dl-color-gray-white);
  }
  .lesson14-link15 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson14-hero {
    flex-direction: column;
  }
  .lesson14-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson14-text {
    text-align: left;
  }
  .lesson14-container04 {
    flex-direction: column;
  }
  .lesson14-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson14-link05 {
    text-decoration: none;
  }
  .lesson14-left-content {
    width: 100%;
  }
  .lesson14-text166 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text168 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text170 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text172 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text176 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text178 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text182 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text189 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-navlink3 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson14-text201 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text202 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text204 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text209 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text211 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text214 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-text216 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson14-toc {
    width: 100%;
    display: none;
  }
  .lesson14-link09 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson14-header-other {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-nav {
    display: none;
  }
  .lesson14-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson14-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-link01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson14-icon {
    width: 24px;
    height: 24px;
  }
  .lesson14-nav3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-navlink2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-link02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-link03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson14-text {
    text-align: left;
  }
  .lesson14-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-tocmobile {
    position: relative;
  }
  .lesson14-left-content {
    width: 100%;
  }
  .lesson14-toc {
    width: 100%;
  }
  .lesson14-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson14-text221 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-text222 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson14-header-other {
    padding: var(--dl-space-space-unit);
  }
  .lesson14-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .lesson14-icon {
    width: 24px;
    height: 24px;
  }
  .lesson14-mobile-menu {
    top: 0px;
    padding: 16px;
  }
  .lesson14-container01 {
    margin-top: 4px;
  }
  .lesson14-close-mobile-menu {
    width: 40px;
    height: 40px;
  }
  .lesson14-icon2 {
    width: 24px;
    height: 24px;
  }
  .lesson14-nav3 {
    gap: var(--dl-space-space-unit);
  }
  .lesson14-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson14-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson14-text {
    text-align: left;
  }
  .lesson14-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson14-tocmobile {
    position: relative;
  }
  .lesson14-left-content {
    width: 100%;
  }
  .lesson14-toc {
    width: 100%;
  }
  .lesson14-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson14-text221 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson14-text222 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
