.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson-final-test-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson-final-test-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson-final-test-navlink {
  display: contents;
}
.lesson-final-test-image {
  height: 2rem;
  text-decoration: none;
}
.lesson-final-test-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson-final-test-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson-final-test-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson-final-test-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson-final-test-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson-final-test-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson-final-test-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson-final-test-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson-final-test-burger-menu {
  display: none;
}
.lesson-final-test-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson-final-test-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson-final-test-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson-final-test-image1 {
  height: 2rem;
}
.lesson-final-test-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson-final-test-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson-final-test-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-final-test-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson-final-test-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson-final-test-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson-final-test-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson-final-test-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson-final-test-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson-final-test-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson-final-test-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson-final-test-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson-final-test-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson-final-test-tocmobile {
  display: none;
}
.lesson-final-test-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson-final-test-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-ul {
  padding-left: 0px;
}
.lesson-final-test-link {
  text-decoration: none;
}
.lesson-final-test-text003 {
  text-decoration: none;
}
.lesson-final-test-text004 {
  text-decoration: none;
}
.lesson-final-test-text005 {
  text-decoration: none;
}
.lesson-final-test-left-content {
  width: 880px;
}
.lesson-final-test-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson-final-test-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-text009 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson-final-test-text012 {
  margin-bottom: 20px;
}
.lesson-final-test-text024 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson-final-test-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson-final-test-text030 {
  margin-bottom: 20px;
}
.lesson-final-test-text031 {
  margin-bottom: 20px;
}
.lesson-final-test-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-text075 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson-final-test-text078 {
  margin-bottom: 20px;
}
.lesson-final-test-text081 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson-final-test-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson-final-test-text085 {
  margin-bottom: 20px;
}
.lesson-final-test-text086 {
  margin-bottom: 20px;
}
.lesson-final-test-text091 {
  margin-bottom: 20px;
}
.lesson-final-test-text119 {
  margin-bottom: 20px;
}
.lesson-final-test-text122 {
  margin-bottom: 20px;
}
.lesson-final-test-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-text144 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson-final-test-text147 {
  margin-bottom: 20px;
}
.lesson-final-test-text148 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson-final-test-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson-final-test-text152 {
  margin-bottom: 20px;
}
.lesson-final-test-text153 {
  margin-bottom: 20px;
}
.lesson-final-test-text158 {
  margin-bottom: 20px;
}
.lesson-final-test-text186 {
  margin-bottom: 20px;
}
.lesson-final-test-text189 {
  margin-bottom: 20px;
}
.lesson-final-test-text203 {
  margin-bottom: 20px;
}
.lesson-final-test-text206 {
  margin-bottom: 20px;
}
.lesson-final-test-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson-final-test-text224 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson-final-test-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson-final-test-ul1 {
  padding-left: 0px;
}
.lesson-final-test-link1 {
  text-decoration: none;
}
.lesson-final-test-link2 {
  text-decoration: none;
}
.lesson-final-test-link3 {
  text-decoration: none;
}
.lesson-final-test-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson-final-test-container12 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson-final-test-container13 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson-final-test-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson-final-test-link5 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson-final-test-link6 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson-final-test-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson-final-test-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson-final-test-text225 {
  color: var(--dl-color-gray-white);
}
.lesson-final-test-text226 {
  color: var(--dl-color-gray-white);
}
.lesson-final-test-link7 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson-final-test-header-lesson {
    align-self: center;
  }
  .lesson-final-test-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-hero {
    align-self: center;
  }
  .lesson-final-test-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson-final-test-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson-final-test-tocmobile {
    display: none;
  }
  .lesson-final-test-text225 {
    color: var(--dl-color-gray-white);
  }
  .lesson-final-test-text226 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson-final-test-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson-final-test-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson-final-test-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson-final-test-text001 {
    color: var(--dl-color-default-primary_3);
    font-size: 18px;
    line-height: 1.5;
  }
  .lesson-final-test-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson-final-test-tocmobile {
    display: none;
  }
  .lesson-final-test-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson-final-test-link {
    text-decoration: none;
  }
  .lesson-final-test-text003 {
    text-decoration: none;
  }
  .lesson-final-test-text004 {
    text-decoration: none;
  }
  .lesson-final-test-text005 {
    text-decoration: none;
  }
  .lesson-final-test-left-content {
    position: relative;
  }
  .lesson-final-test-text006 {
    line-height: 24px;
  }
  .lesson-final-test-text009 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson-final-test-info {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson-final-test-text024 {
    text-transform: none;
  }
  .lesson-final-test-text075 {
    font-size: 24px;
  }
  .lesson-final-test-info1 {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson-final-test-text081 {
    text-transform: none;
  }
  .lesson-final-test-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson-final-test-text144 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson-final-test-info2 {
    height: auto;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson-final-test-text148 {
    text-transform: none;
  }
  .lesson-final-test-navlink5 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson-final-test-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson-final-test-text224 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson-final-test-link1 {
    text-decoration: none;
  }
  .lesson-final-test-link2 {
    text-decoration: none;
  }
  .lesson-final-test-link3 {
    text-decoration: none;
  }
  .lesson-final-test-link5 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson-final-test-link6 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson-final-test-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson-final-test-text225 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson-final-test-text226 {
    color: var(--dl-color-gray-white);
  }
  .lesson-final-test-link7 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson-final-test-hero {
    flex-direction: column;
  }
  .lesson-final-test-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson-final-test-text {
    text-align: left;
  }
  .lesson-final-test-container04 {
    flex-direction: column;
  }
  .lesson-final-test-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson-final-test-left-content {
    width: 100%;
  }
  .lesson-final-test-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson-final-test-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson-final-test-nav {
    display: none;
  }
  .lesson-final-test-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson-final-test-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson-final-test-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson-final-test-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson-final-test-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson-final-test-icon {
    width: 24px;
    height: 24px;
  }
  .lesson-final-test-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson-final-test-text {
    text-align: left;
  }
  .lesson-final-test-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-tocmobile {
    position: relative;
  }
  .lesson-final-test-left-content {
    width: 100%;
  }
  .lesson-final-test-toc {
    width: 100%;
  }
  .lesson-final-test-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson-final-test-text225 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-text226 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson-final-test-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson-final-test-icon {
    width: 24px;
    height: 24px;
  }
  .lesson-final-test-mobile-menu {
    padding: 16px;
  }
  .lesson-final-test-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson-final-test-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson-final-test-text {
    text-align: left;
  }
  .lesson-final-test-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson-final-test-tocmobile {
    position: relative;
  }
  .lesson-final-test-left-content {
    width: 100%;
  }
  .lesson-final-test-toc {
    width: 100%;
  }
  .lesson-final-test-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-container14 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson-final-test-text225 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson-final-test-text226 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
