.lesson113-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson113-header-other {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson113-navlink {
  display: contents;
}
.lesson113-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson113-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson113-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson113-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-link {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-link:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-link01 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-link01:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-burger-menu {
  display: none;
}
.lesson113-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson113-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson113-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson113-image1 {
  height: 2rem;
}
.lesson113-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson113-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson113-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson113-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-link02 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-link02:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-link03 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-link03:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson113-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson113-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson113-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson113-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson113-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson113-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson113-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson113-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson113-tocmobile {
  display: none;
}
.lesson113-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson113-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-ul {
  padding-left: 0px;
}
.lesson113-link04 {
  text-decoration: none;
}
.lesson113-link05 {
  text-decoration: none;
}
.lesson113-link06 {
  text-decoration: none;
}
.lesson113-link07 {
  text-decoration: none;
}
.lesson113-link08 {
  text-decoration: none;
}
.lesson113-link09 {
  text-decoration: none;
}
.lesson113-left-content {
  width: 880px;
}
.lesson113-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text007 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text008 {
  margin-bottom: 20px;
}
.lesson113-text015 {
  margin-bottom: 20px;
}
.lesson113-text021 {
  margin-bottom: 20px;
}
.lesson113-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text024 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text025 {
  margin-bottom: 20px;
}
.lesson113-text030 {
  margin-bottom: 20px;
}
.lesson113-text036 {
  margin-bottom: 20px;
}
.lesson113-text040 {
  margin-bottom: 20px;
}
.lesson113-text046 {
  margin-bottom: 20px;
}
.lesson113-text051 {
  margin-bottom: 20px;
}
.lesson113-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text052 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text053 {
  margin-bottom: 20px;
}
.lesson113-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text068 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text069 {
  margin-bottom: 20px;
}
.lesson113-text075 {
  margin-bottom: 20px;
}
.lesson113-text078 {
  margin-bottom: 20px;
}
.lesson113-text086 {
  margin-bottom: 20px;
}
.lesson113-text100 {
  margin-bottom: 20px;
}
.lesson113-text118 {
  margin-bottom: 20px;
}
.lesson113-text129 {
  margin-bottom: 20px;
}
.lesson113-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text130 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text131 {
  margin-bottom: 20px;
}
.lesson113-text161 {
  margin-bottom: 20px;
}
.lesson113-text167 {
  margin-bottom: 20px;
}
.lesson113-text168 {
  margin-bottom: 20px;
}
.lesson113-text171 {
  margin-bottom: 20px;
}
.lesson113-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson113-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson113-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-text172 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson113-text173 {
  margin-bottom: 20px;
}
.lesson113-text178 {
  margin-bottom: 20px;
}
.lesson113-text214 {
  margin-bottom: 20px;
}
.lesson113-text219 {
  margin-bottom: 20px;
}
.lesson113-text237 {
  margin-bottom: 20px;
}
.lesson113-text238 {
  margin-bottom: 20px;
}
.lesson113-item {
  text-decoration: none;
}
.lesson113-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson113-text262 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson113-item1 {
  text-decoration: none;
}
.lesson113-text263 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson113-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson113-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson113-text264 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson113-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson113-ul1 {
  padding-left: 0px;
}
.lesson113-link10 {
  text-decoration: none;
}
.lesson113-link11 {
  text-decoration: none;
}
.lesson113-link12 {
  text-decoration: none;
}
.lesson113-link13 {
  text-decoration: none;
}
.lesson113-link14 {
  text-decoration: none;
}
.lesson113-link15 {
  text-decoration: none;
}
.lesson113-footer-other {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson113-container13 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson113-container14 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson113-image2 {
  cursor: pointer;
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson113-link17 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-link18 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson113-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson113-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson113-text265 {
  color: var(--dl-color-gray-white);
}
.lesson113-text266 {
  color: var(--dl-color-gray-white);
}
.lesson113-link19 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson113-header-other {
    align-self: center;
  }
  .lesson113-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-hero {
    align-self: center;
  }
  .lesson113-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson113-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson113-tocmobile {
    display: none;
  }
  .lesson113-text265 {
    color: var(--dl-color-gray-white);
  }
  .lesson113-text266 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson113-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson113-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson113-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson113-text001 {
    color: var(--dl-color-default-primary_3);
    font-size: 18px;
    line-height: 1.5;
  }
  .lesson113-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson113-tocmobile {
    display: none;
  }
  .lesson113-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson113-link04 {
    text-decoration: none;
  }
  .lesson113-link05 {
    text-decoration: none;
  }
  .lesson113-link06 {
    text-decoration: none;
  }
  .lesson113-link07 {
    text-decoration: none;
  }
  .lesson113-link08 {
    text-decoration: none;
  }
  .lesson113-link09 {
    text-decoration: none;
  }
  .lesson113-left-content {
    position: relative;
  }
  .lesson113-text003 {
    line-height: 24px;
  }
  .lesson113-navlink3 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson113-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson113-text007 {
    font-size: 24px;
  }
  .lesson113-text010 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text012 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text017 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text019 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text023 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text024 {
    font-size: 24px;
  }
  .lesson113-text027 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text032 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text034 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text038 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text042 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text044 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-navlink5 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson113-text049 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text052 {
    font-size: 24px;
  }
  .lesson113-text057 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text061 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text063 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text065 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text068 {
    font-size: 24px;
  }
  .lesson113-text122 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text130 {
    font-size: 24px;
  }
  .lesson113-text143 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text150 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text158 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text163 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text165 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson113-text172 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson113-text262 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson113-text263 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson113-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson113-text264 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson113-link10 {
    text-decoration: none;
  }
  .lesson113-link11 {
    text-decoration: none;
  }
  .lesson113-link12 {
    text-decoration: none;
  }
  .lesson113-link13 {
    text-decoration: none;
  }
  .lesson113-link14 {
    text-decoration: none;
  }
  .lesson113-link15 {
    text-decoration: none;
  }
  .lesson113-link17 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson113-link18 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson113-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson113-text265 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson113-text266 {
    color: var(--dl-color-gray-white);
  }
  .lesson113-link19 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson113-hero {
    flex-direction: column;
  }
  .lesson113-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson113-text {
    text-align: left;
  }
  .lesson113-container04 {
    flex-direction: column;
  }
  .lesson113-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson113-left-content {
    width: 100%;
  }
  .lesson113-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson113-header-other {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-nav {
    display: none;
  }
  .lesson113-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson113-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-link01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson113-icon {
    width: 24px;
    height: 24px;
  }
  .lesson113-nav3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-navlink2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-link02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-link03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson113-text {
    text-align: left;
  }
  .lesson113-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-tocmobile {
    position: relative;
  }
  .lesson113-left-content {
    width: 100%;
  }
  .lesson113-toc {
    width: 100%;
  }
  .lesson113-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson113-text265 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-text266 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson113-header-other {
    padding: var(--dl-space-space-unit);
  }
  .lesson113-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .lesson113-icon {
    width: 24px;
    height: 24px;
  }
  .lesson113-mobile-menu {
    top: 0px;
    padding: 16px;
  }
  .lesson113-container01 {
    margin-top: 4px;
  }
  .lesson113-close-mobile-menu {
    width: 40px;
    height: 40px;
  }
  .lesson113-icon2 {
    width: 24px;
    height: 24px;
  }
  .lesson113-nav3 {
    gap: var(--dl-space-space-unit);
  }
  .lesson113-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson113-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson113-text {
    text-align: left;
  }
  .lesson113-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson113-tocmobile {
    position: relative;
  }
  .lesson113-left-content {
    width: 100%;
  }
  .lesson113-toc {
    width: 100%;
  }
  .lesson113-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-container15 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson113-text265 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson113-text266 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
