.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson08-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson08-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson08-navlink {
  display: contents;
}
.lesson08-image {
  height: 2rem;
  text-decoration: none;
}
.lesson08-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson08-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson08-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson08-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson08-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson08-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson08-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson08-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson08-burger-menu {
  display: none;
}
.lesson08-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson08-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson08-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson08-image1 {
  height: 2rem;
}
.lesson08-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson08-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson08-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson08-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson08-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson08-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson08-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson08-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson08-text03 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson08-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson08-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson08-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson08-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson08-tocmobile {
  display: none;
}
.lesson08-text04 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson08-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-ul {
  padding-left: 0px;
}
.lesson08-link01 {
  text-decoration: none;
}
.lesson08-link02 {
  text-decoration: none;
}
.lesson08-left-content {
  width: 880px;
}
.lesson08-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-text14 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson08-text15 {
  margin-bottom: 20px;
}
.lesson08-text26 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson08-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson08-text28 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson08-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson08-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-text30 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson08-text31 {
  margin-bottom: 20px;
}
.lesson08-text35 {
  margin-bottom: 20px;
}
.lesson08-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-text36 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson08-text37 {
  margin-bottom: 20px;
}
.lesson08-text41 {
  margin-bottom: 20px;
}
.lesson08-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-text49 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson08-text50 {
  margin-bottom: 20px;
}
.lesson08-item {
  text-decoration: none;
}
.lesson08-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson08-text54 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson08-item1 {
  text-decoration: none;
}
.lesson08-text55 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson08-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson08-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson08-text56 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson08-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson08-ul1 {
  padding-left: 0px;
}
.lesson08-link05 {
  text-decoration: none;
}
.lesson08-link06 {
  text-decoration: none;
}
.lesson08-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson08-container11 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson08-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson08-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson08-link09 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson08-link10 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson08-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson08-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson08-text63 {
  color: var(--dl-color-gray-white);
}
.lesson08-text64 {
  color: var(--dl-color-gray-white);
}
.lesson08-link11 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson08-header-lesson {
    align-self: center;
  }
  .lesson08-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-hero {
    align-self: center;
  }
  .lesson08-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson08-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson08-tocmobile {
    display: none;
  }
  .lesson08-link01 {
    text-decoration: none;
  }
  .lesson08-link05 {
    text-decoration: none;
  }
  .lesson08-text63 {
    color: var(--dl-color-gray-white);
  }
  .lesson08-text64 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson08-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson08-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson08-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson08-text03 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson08-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson08-tocmobile {
    display: none;
  }
  .lesson08-text04 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson08-link01 {
    text-decoration: none;
  }
  .lesson08-link02 {
    text-decoration: none;
  }
  .lesson08-left-content {
    position: relative;
  }
  .lesson08-text11 {
    line-height: 24px;
  }
  .lesson08-text14 {
    font-size: 24px;
  }
  .lesson08-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text26 {
    text-transform: none;
  }
  .lesson08-info1 {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text28 {
    font-size: 16px;
    font-family: Inter;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson08-text30 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson08-text33 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text36 {
    font-size: 24px;
  }
  .lesson08-text39 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text43 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text45 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text47 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text49 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson08-text52 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson08-text54 {
    line-height: normal;
  }
  .lesson08-text55 {
    line-height: normal;
  }
  .lesson08-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson08-text56 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson08-link05 {
    text-decoration: none;
  }
  .lesson08-link06 {
    text-decoration: none;
  }
  .lesson08-link09 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson08-link10 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson08-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson08-text63 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson08-text64 {
    color: var(--dl-color-gray-white);
  }
  .lesson08-link11 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson08-hero {
    flex-direction: column;
  }
  .lesson08-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson08-text {
    text-align: left;
  }
  .lesson08-container04 {
    flex-direction: column;
  }
  .lesson08-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson08-link01 {
    text-decoration: none;
  }
  .lesson08-text05 {
    text-decoration: none;
  }
  .lesson08-text06 {
    text-decoration: none;
  }
  .lesson08-link02 {
    text-decoration: none;
  }
  .lesson08-left-content {
    width: 100%;
  }
  .lesson08-toc {
    width: 100%;
    display: none;
  }
  .lesson08-link05 {
    text-decoration: none;
  }
  .lesson08-text57 {
    text-decoration: none;
  }
  .lesson08-text58 {
    text-decoration: none;
  }
  .lesson08-link06 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson08-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson08-nav {
    display: none;
  }
  .lesson08-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson08-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson08-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson08-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson08-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson08-icon {
    width: 24px;
    height: 24px;
  }
  .lesson08-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson08-text {
    text-align: left;
  }
  .lesson08-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-tocmobile {
    position: relative;
  }
  .lesson08-left-content {
    width: 100%;
  }
  .lesson08-toc {
    width: 100%;
  }
  .lesson08-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson08-text63 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-text64 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson08-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson08-icon {
    width: 24px;
    height: 24px;
  }
  .lesson08-mobile-menu {
    padding: 16px;
  }
  .lesson08-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson08-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson08-text {
    text-align: left;
  }
  .lesson08-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson08-tocmobile {
    position: relative;
  }
  .lesson08-left-content {
    width: 100%;
  }
  .lesson08-toc {
    width: 100%;
  }
  .lesson08-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson08-text63 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson08-text64 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
