.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson02-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson02-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson02-navlink {
  display: contents;
}
.lesson02-image {
  height: 2rem;
  text-decoration: none;
}
.lesson02-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson02-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson02-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson02-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson02-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson02-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson02-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson02-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson02-burger-menu {
  display: none;
}
.lesson02-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson02-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson02-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson02-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson02-image1 {
  height: 2rem;
}
.lesson02-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson02-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson02-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson02-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson02-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson02-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson02-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson02-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson02-text03 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson02-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson02-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson02-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson02-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.lesson02-tocmobile {
  display: none;
}
.lesson02-text04 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson02-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson02-ul {
  padding-left: 0px;
}
.lesson02-link1 {
  text-decoration: none;
}
.lesson02-left-content {
  width: 880px;
}
.lesson02-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson02-text30 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson02-text31 {
  margin-bottom: 20px;
}
.lesson02-container06 {
  height: 100%;
}
.lesson02-arrowdown1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson02-text40 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson02-container07 {
  height: 100%;
}
.lesson02-arrowdown11 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson02-text41 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson02-container08 {
  height: 100%;
}
.lesson02-arrowdown12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson02-text42 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson02-container09 {
  height: 100%;
}
.lesson02-arrowdown13 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  position: relative;
  margin-top: 4px;
}
.lesson02-text43 {
  padding-left: var(--dl-space-space-halfunit);
}
.lesson02-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson02-text44 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson02-text45 {
  color: var(--dl-color-default-primary_3);
}
.lesson02-text46 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson02-item {
  text-decoration: none;
}
.lesson02-arrowdown14 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson02-text48 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson02-item1 {
  text-decoration: none;
}
.lesson02-text49 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson02-arrowdown15 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson02-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson02-text50 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson02-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson02-ul1 {
  padding-left: 0px;
}
.lesson02-link4 {
  text-decoration: none;
}
.lesson02-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson02-container11 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson02-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson02-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson02-link6 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson02-link7 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson02-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson02-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson02-text51 {
  color: var(--dl-color-gray-white);
}
.lesson02-text52 {
  color: var(--dl-color-gray-white);
}
.lesson02-link8 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson02-header-lesson {
    align-self: center;
  }
  .lesson02-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-hero {
    align-self: center;
  }
  .lesson02-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson02-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson02-tocmobile {
    display: none;
  }
  .lesson02-link2 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson02-text51 {
    color: var(--dl-color-gray-white);
  }
  .lesson02-text52 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson02-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson02-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson02-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson02-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson02-tocmobile {
    display: none;
  }
  .lesson02-text04 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson02-text05 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text06 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text09 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-link2 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text10 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text13 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text16 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text18 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text20 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text22 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text24 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text27 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text29 {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .lesson02-text30 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson02-text44 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson02-text45 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson02-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson02-text46 {
    font-style: normal;
    font-weight: 700;
  }
  .lesson02-text48 {
    line-height: normal;
  }
  .lesson02-text49 {
    line-height: normal;
  }
  .lesson02-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson02-text50 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson02-link4 {
    text-decoration: none;
  }
  .lesson02-link6 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson02-link7 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson02-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson02-text51 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson02-text52 {
    color: var(--dl-color-gray-white);
  }
  .lesson02-link8 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson02-hero {
    flex-direction: column;
  }
  .lesson02-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson02-text {
    text-align: left;
  }
  .lesson02-container04 {
    flex-direction: column;
  }
  .lesson02-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson02-link1 {
    text-decoration: none;
  }
  .lesson02-left-content {
    width: 100%;
  }
  .lesson02-toc {
    width: 100%;
    display: none;
  }
  .lesson02-link4 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson02-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson02-nav {
    display: none;
  }
  .lesson02-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson02-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson02-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson02-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson02-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson02-icon {
    width: 24px;
    height: 24px;
  }
  .lesson02-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson02-text {
    text-align: left;
  }
  .lesson02-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-tocmobile {
    position: relative;
  }
  .lesson02-left-content {
    width: 100%;
  }
  .lesson02-toc {
    width: 100%;
  }
  .lesson02-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson02-text51 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-text52 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson02-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson02-icon {
    width: 24px;
    height: 24px;
  }
  .lesson02-mobile-menu {
    padding: 16px;
  }
  .lesson02-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson02-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson02-text {
    text-align: left;
  }
  .lesson02-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson02-tocmobile {
    position: relative;
  }
  .lesson02-left-content {
    width: 100%;
  }
  .lesson02-toc {
    width: 100%;
  }
  .lesson02-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson02-text51 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson02-text52 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
