.lesson117-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson117-header-other {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson117-navlink {
  display: contents;
}
.lesson117-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson117-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson117-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson117-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-link {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-link:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-link01 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-link01:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-burger-menu {
  display: none;
}
.lesson117-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson117-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson117-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson117-image1 {
  height: 2rem;
}
.lesson117-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson117-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson117-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson117-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-link02 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-link02:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-link03 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-link03:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson117-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson117-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson117-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson117-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson117-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson117-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson117-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson117-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson117-tocmobile {
  display: none;
}
.lesson117-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson117-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-ul {
  padding-left: 0px;
}
.lesson117-link04 {
  text-decoration: none;
}
.lesson117-link05 {
  text-decoration: none;
}
.lesson117-link06 {
  text-decoration: none;
}
.lesson117-left-content {
  width: 880px;
}
.lesson117-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson117-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-text004 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson117-text005 {
  margin-bottom: 20px;
}
.lesson117-text018 {
  margin-bottom: 20px;
}
.lesson117-text030 {
  margin-bottom: 20px;
}
.lesson117-text031 {
  margin-bottom: 20px;
}
.lesson117-text043 {
  margin-bottom: 20px;
}
.lesson117-text044 {
  margin-bottom: 20px;
}
.lesson117-text060 {
  margin-bottom: 20px;
}
.lesson117-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson117-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-text074 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson117-text075 {
  margin-bottom: 20px;
}
.lesson117-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-text089 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson117-text090 {
  margin-bottom: 20px;
}
.lesson117-text093 {
  margin-bottom: 20px;
}
.lesson117-text094 {
  margin-bottom: 20px;
}
.lesson117-item {
  text-decoration: none;
}
.lesson117-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson117-text095 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson117-item1 {
  text-decoration: none;
}
.lesson117-text096 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson117-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson117-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson117-text097 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson117-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson117-ul1 {
  padding-left: 0px;
}
.lesson117-link07 {
  text-decoration: none;
}
.lesson117-link08 {
  text-decoration: none;
}
.lesson117-link09 {
  text-decoration: none;
}
.lesson117-footer-other {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson117-container10 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson117-container11 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson117-image2 {
  cursor: pointer;
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson117-link11 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-link12 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson117-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson117-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson117-text098 {
  color: var(--dl-color-gray-white);
}
.lesson117-text099 {
  color: var(--dl-color-gray-white);
}
.lesson117-link13 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson117-header-other {
    align-self: center;
  }
  .lesson117-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-hero {
    align-self: center;
  }
  .lesson117-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson117-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson117-tocmobile {
    display: none;
  }
  .lesson117-text098 {
    color: var(--dl-color-gray-white);
  }
  .lesson117-text099 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson117-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link01 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link02 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-link03 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson117-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson117-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson117-text001 {
    color: var(--dl-color-default-primary_3);
    font-size: 18px;
    line-height: 1.5;
  }
  .lesson117-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson117-tocmobile {
    display: none;
  }
  .lesson117-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson117-link04 {
    text-decoration: none;
  }
  .lesson117-link05 {
    text-decoration: none;
  }
  .lesson117-link06 {
    text-decoration: none;
  }
  .lesson117-left-content {
    position: relative;
  }
  .lesson117-text003 {
    line-height: 24px;
  }
  .lesson117-text004 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson117-text074 {
    font-size: 24px;
  }
  .lesson117-text089 {
    font-size: 24px;
  }
  .lesson117-text095 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson117-text096 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson117-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson117-text097 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson117-link07 {
    text-decoration: none;
  }
  .lesson117-link08 {
    text-decoration: none;
  }
  .lesson117-link09 {
    text-decoration: none;
  }
  .lesson117-link11 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson117-link12 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson117-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson117-text098 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson117-text099 {
    color: var(--dl-color-gray-white);
  }
  .lesson117-link13 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson117-hero {
    flex-direction: column;
  }
  .lesson117-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson117-text {
    text-align: left;
  }
  .lesson117-container04 {
    flex-direction: column;
  }
  .lesson117-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson117-left-content {
    width: 100%;
  }
  .lesson117-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson117-header-other {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-nav {
    display: none;
  }
  .lesson117-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson117-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-link {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-link01 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson117-icon {
    width: 24px;
    height: 24px;
  }
  .lesson117-nav3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-navlink2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-link02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-link03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson117-text {
    text-align: left;
  }
  .lesson117-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-tocmobile {
    position: relative;
  }
  .lesson117-left-content {
    width: 100%;
  }
  .lesson117-toc {
    width: 100%;
  }
  .lesson117-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson117-text098 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-text099 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson117-header-other {
    padding: var(--dl-space-space-unit);
  }
  .lesson117-burger-menu {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .lesson117-icon {
    width: 24px;
    height: 24px;
  }
  .lesson117-mobile-menu {
    top: 0px;
    padding: 16px;
  }
  .lesson117-container01 {
    margin-top: 4px;
  }
  .lesson117-close-mobile-menu {
    width: 40px;
    height: 40px;
  }
  .lesson117-icon2 {
    width: 24px;
    height: 24px;
  }
  .lesson117-nav3 {
    gap: var(--dl-space-space-unit);
  }
  .lesson117-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson117-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson117-text {
    text-align: left;
  }
  .lesson117-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson117-tocmobile {
    position: relative;
  }
  .lesson117-left-content {
    width: 100%;
  }
  .lesson117-toc {
    width: 100%;
  }
  .lesson117-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson117-text098 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson117-text099 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
