.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson010-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson010-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson010-navlink {
  display: contents;
}
.lesson010-image {
  height: 2rem;
  text-decoration: none;
}
.lesson010-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson010-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson010-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson010-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson010-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson010-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson010-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson010-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson010-burger-menu {
  display: none;
}
.lesson010-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson010-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson010-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson010-image1 {
  height: 2rem;
}
.lesson010-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson010-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson010-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson010-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson010-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson010-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson010-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson010-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson010-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson010-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson010-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson010-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson010-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson010-tocmobile {
  display: none;
}
.lesson010-text004 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson010-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-ul {
  padding-left: 0px;
}
.lesson010-link {
  text-decoration: none;
}
.lesson010-link01 {
  text-decoration: none;
}
.lesson010-left-content {
  width: 880px;
}
.lesson010-text012 {
  margin-bottom: 20px;
}
.lesson010-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-text037 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson010-text038 {
  margin-bottom: 20px;
}
.lesson010-text048 {
  margin-bottom: 20px;
}
.lesson010-text058 {
  margin-bottom: 20px;
}
.lesson010-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-text067 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson010-text068 {
  margin-bottom: 20px;
}
.lesson010-text072 {
  margin-bottom: 20px;
}
.lesson010-text076 {
  margin-bottom: 20px;
}
.lesson010-text082 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson010-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson010-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-text084 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson010-text085 {
  margin-bottom: 20px;
}
.lesson010-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-text092 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson010-text093 {
  margin-bottom: 20px;
}
.lesson010-text150 {
  margin-bottom: 20px;
}
.lesson010-item {
  text-decoration: none;
}
.lesson010-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson010-text151 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson010-item1 {
  text-decoration: none;
}
.lesson010-text152 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson010-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson010-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson010-text153 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson010-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson010-ul1 {
  padding-left: 0px;
}
.lesson010-link04 {
  text-decoration: none;
}
.lesson010-link05 {
  text-decoration: none;
}
.lesson010-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson010-container10 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson010-container11 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson010-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson010-link09 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson010-link10 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson010-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson010-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson010-text158 {
  color: var(--dl-color-gray-white);
}
.lesson010-text159 {
  color: var(--dl-color-gray-white);
}
.lesson010-link11 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson010-header-lesson {
    align-self: center;
  }
  .lesson010-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-hero {
    align-self: center;
  }
  .lesson010-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson010-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson010-tocmobile {
    display: none;
  }
  .lesson010-text158 {
    color: var(--dl-color-gray-white);
  }
  .lesson010-text159 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson010-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson010-container02 {
    width: 100%;
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson010-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 600;
  }
  .lesson010-text001 {
    color: var(--dl-color-default-primary_3);
    text-align: left;
  }
  .lesson010-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson010-tocmobile {
    display: none;
  }
  .lesson010-text004 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson010-link01 {
    text-decoration: none;
  }
  .lesson010-left-content {
    position: relative;
  }
  .lesson010-text009 {
    line-height: 24px;
  }
  .lesson010-text022 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text023 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text024 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text025 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text026 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text027 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text028 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text029 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text030 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text031 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text035 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text037 {
    font-size: 24px;
  }
  .lesson010-text046 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text050 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text052 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text054 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text056 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text060 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text065 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text067 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson010-text070 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text074 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text078 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text080 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text082 {
    text-transform: none;
  }
  .lesson010-text084 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson010-text087 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text089 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson010-text092 {
    font-size: 24px;
  }
  .lesson010-code {
    width: 100%;
  }
  .lesson010-text151 {
    line-height: normal;
  }
  .lesson010-text152 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson010-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson010-text153 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson010-link05 {
    text-decoration: none;
  }
  .lesson010-link09 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson010-link10 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson010-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson010-text158 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson010-text159 {
    color: var(--dl-color-gray-white);
  }
  .lesson010-link11 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson010-hero {
    flex-direction: column;
  }
  .lesson010-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson010-text {
    text-align: left;
  }
  .lesson010-container04 {
    flex-direction: column;
  }
  .lesson010-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson010-link01 {
    text-decoration: none;
  }
  .lesson010-left-content {
    width: 100%;
  }
  .lesson010-toc {
    width: 100%;
    display: none;
  }
  .lesson010-link05 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson010-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson010-nav {
    display: none;
  }
  .lesson010-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson010-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson010-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson010-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson010-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson010-icon {
    width: 24px;
    height: 24px;
  }
  .lesson010-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson010-text {
    text-align: left;
  }
  .lesson010-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-tocmobile {
    position: relative;
  }
  .lesson010-left-content {
    width: 100%;
  }
  .lesson010-toc {
    width: 100%;
  }
  .lesson010-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson010-text158 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-text159 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson010-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson010-icon {
    width: 24px;
    height: 24px;
  }
  .lesson010-mobile-menu {
    padding: 16px;
  }
  .lesson010-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson010-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson010-text {
    text-align: left;
  }
  .lesson010-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson010-tocmobile {
    position: relative;
  }
  .lesson010-left-content {
    width: 100%;
  }
  .lesson010-toc {
    width: 100%;
  }
  .lesson010-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson010-text158 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson010-text159 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
