.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson16-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson16-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson16-navlink {
  display: contents;
}
.lesson16-image {
  height: 2rem;
  text-decoration: none;
}
.lesson16-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson16-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson16-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson16-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson16-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson16-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson16-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson16-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson16-burger-menu {
  display: none;
}
.lesson16-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson16-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson16-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson16-image1 {
  height: 2rem;
}
.lesson16-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson16-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson16-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson16-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson16-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson16-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson16-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson16-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson16-text001 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson16-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson16-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson16-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson16-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson16-tocmobile {
  display: none;
}
.lesson16-text002 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson16-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-ul {
  padding-left: 0px;
}
.lesson16-link {
  text-decoration: none;
}
.lesson16-link01 {
  text-decoration: none;
}
.lesson16-link02 {
  text-decoration: none;
}
.lesson16-link03 {
  text-decoration: none;
}
.lesson16-link04 {
  text-decoration: none;
}
.lesson16-link05 {
  text-decoration: none;
}
.lesson16-left-content {
  width: 880px;
}
.lesson16-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text007 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text008 {
  margin-bottom: 20px;
}
.lesson16-text016 {
  margin-bottom: 20px;
}
.lesson16-text050 {
  margin-bottom: 20px;
}
.lesson16-text058 {
  margin-bottom: 20px;
}
.lesson16-text059 {
  margin-bottom: 20px;
}
.lesson16-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text063 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text064 {
  margin-bottom: 20px;
}
.lesson16-text068 {
  margin-bottom: 20px;
}
.lesson16-text100 {
  margin-bottom: 20px;
}
.lesson16-container07 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text126 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text127 {
  margin-bottom: 20px;
}
.lesson16-text128 {
  margin-bottom: 20px;
}
.lesson16-text158 {
  margin-bottom: 20px;
}
.lesson16-container08 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text173 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text174 {
  margin-bottom: 20px;
}
.lesson16-text175 {
  margin-bottom: 20px;
}
.lesson16-text233 {
  margin-bottom: 20px;
}
.lesson16-text237 {
  margin-bottom: 20px;
}
.lesson16-text262 {
  margin-bottom: 20px;
}
.lesson16-text267 {
  margin-bottom: 20px;
}
.lesson16-text268 {
  margin-bottom: 20px;
}
.lesson16-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text276 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text277 {
  margin-bottom: 20px;
}
.lesson16-text278 {
  margin-bottom: 20px;
}
.lesson16-text298 {
  margin-bottom: 20px;
}
.lesson16-text299 {
  margin-bottom: 20px;
}
.lesson16-text323 {
  margin-bottom: 20px;
}
.lesson16-text324 {
  margin-bottom: 20px;
}
.lesson16-text358 {
  margin-bottom: 20px;
}
.lesson16-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-text363 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson16-text364 {
  margin-bottom: 20px;
}
.lesson16-text391 {
  margin-bottom: 20px;
}
.lesson16-text399 {
  margin-bottom: 20px;
}
.lesson16-text455 {
  margin-bottom: 20px;
}
.lesson16-text456 {
  margin-bottom: 20px;
}
.lesson16-item {
  text-decoration: none;
}
.lesson16-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson16-text457 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson16-item1 {
  text-decoration: none;
}
.lesson16-text458 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson16-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson16-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson16-text459 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson16-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson16-ul1 {
  padding-left: 0px;
}
.lesson16-link06 {
  text-decoration: none;
}
.lesson16-link07 {
  text-decoration: none;
}
.lesson16-link08 {
  text-decoration: none;
}
.lesson16-link09 {
  text-decoration: none;
}
.lesson16-link10 {
  text-decoration: none;
}
.lesson16-link11 {
  text-decoration: none;
}
.lesson16-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson16-container11 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson16-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson16-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson16-link13 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson16-link14 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson16-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson16-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson16-text460 {
  color: var(--dl-color-gray-white);
}
.lesson16-text461 {
  color: var(--dl-color-gray-white);
}
.lesson16-link15 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson16-header-lesson {
    align-self: center;
  }
  .lesson16-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-hero {
    align-self: center;
  }
  .lesson16-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson16-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson16-tocmobile {
    display: none;
  }
  .lesson16-text460 {
    color: var(--dl-color-gray-white);
  }
  .lesson16-text461 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson16-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson16-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson16-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson16-text001 {
    color: var(--dl-color-default-primary_3);
    font-size: 18px;
    line-height: 1.5;
  }
  .lesson16-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson16-tocmobile {
    display: none;
  }
  .lesson16-text002 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson16-link {
    text-decoration: none;
  }
  .lesson16-link01 {
    text-decoration: none;
  }
  .lesson16-link02 {
    text-decoration: none;
  }
  .lesson16-link03 {
    text-decoration: none;
  }
  .lesson16-link04 {
    text-decoration: none;
  }
  .lesson16-link05 {
    text-decoration: none;
  }
  .lesson16-left-content {
    position: relative;
  }
  .lesson16-text003 {
    line-height: 24px;
  }
  .lesson16-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson16-text007 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson16-text014 {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson16-text052 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text063 {
    font-size: 24px;
  }
  .lesson16-text102 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text104 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text106 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text108 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text110 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text112 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text114 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text116 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text123 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text124 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text125 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text126 {
    font-size: 24px;
  }
  .lesson16-text160 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text162 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text164 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text166 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text172 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text173 {
    font-size: 24px;
  }
  .lesson16-text241 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text242 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text243 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text244 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text245 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text246 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text247 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text248 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text249 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text250 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-text251 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson16-navlink5 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson16-text276 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson16-text363 {
    font-size: 24px;
  }
  .lesson16-text457 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson16-text458 {
    line-height: normal;
  }
  .lesson16-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson16-text459 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson16-link06 {
    text-decoration: none;
  }
  .lesson16-link07 {
    text-decoration: none;
  }
  .lesson16-link08 {
    text-decoration: none;
  }
  .lesson16-link09 {
    text-decoration: none;
  }
  .lesson16-link10 {
    text-decoration: none;
  }
  .lesson16-link11 {
    text-decoration: none;
  }
  .lesson16-link13 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson16-link14 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson16-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson16-text460 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson16-text461 {
    color: var(--dl-color-gray-white);
  }
  .lesson16-link15 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson16-hero {
    flex-direction: column;
  }
  .lesson16-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson16-text {
    text-align: left;
  }
  .lesson16-container04 {
    flex-direction: column;
  }
  .lesson16-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson16-link01 {
    text-decoration: none;
  }
  .lesson16-left-content {
    width: 100%;
  }
  .lesson16-toc {
    width: 100%;
    display: none;
  }
  .lesson16-link07 {
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .lesson16-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson16-nav {
    display: none;
  }
  .lesson16-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson16-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson16-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson16-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson16-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson16-icon {
    width: 24px;
    height: 24px;
  }
  .lesson16-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson16-text {
    text-align: left;
  }
  .lesson16-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-tocmobile {
    position: relative;
  }
  .lesson16-left-content {
    width: 100%;
  }
  .lesson16-toc {
    width: 100%;
  }
  .lesson16-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson16-text460 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-text461 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson16-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson16-icon {
    width: 24px;
    height: 24px;
  }
  .lesson16-mobile-menu {
    padding: 16px;
  }
  .lesson16-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson16-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson16-text {
    text-align: left;
  }
  .lesson16-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson16-tocmobile {
    position: relative;
  }
  .lesson16-left-content {
    width: 100%;
  }
  .lesson16-toc {
    width: 100%;
  }
  .lesson16-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-container13 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson16-text460 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson16-text461 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
