.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text4 {
  margin-left: var(--dl-space-space-twounits);
}









































@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.lesson110-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.lesson110-header-lesson {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.lesson110-navlink {
  display: contents;
}
.lesson110-image {
  height: 2rem;
  text-decoration: none;
}
.lesson110-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson110-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lesson110-navlink1 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  text-decoration: none;
}
.lesson110-navlink1:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson110-navlink2 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson110-navlink2:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson110-navlink3 {
  color: var(--dl-color-default-primary_3);
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson110-navlink3:hover {
  color: var(--dl-color-default-primary_1);
}
.lesson110-burger-menu {
  display: none;
}
.lesson110-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.lesson110-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.lesson110-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson110-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.lesson110-image1 {
  height: 2rem;
}
.lesson110-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lesson110-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson110-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson110-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.lesson110-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.lesson110-hero {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: center;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: var(--dl-color-default-light_blue);
}
.lesson110-container02 {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  margin-top: 0px;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.lesson110-text {
  color: var(--dl-color-default-primary_2);
  font-size: 3rem;
  max-width: 100%;
}
.lesson110-text01 {
  color: var(--dl-color-default-primary_3);
  font-size: 18px;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.lesson110-lessons {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: transparent;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.lesson110-container03 {
  width: 100%;
  padding-top: 0px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
}
.lesson110-section0 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 64px;
  flex-direction: column;
}
.lesson110-container04 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.lesson110-tocmobile {
  display: none;
}
.lesson110-text02 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson110-toclist {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson110-ul {
  padding-left: 0px;
}
.lesson110-link {
  text-decoration: none;
}
.lesson110-link1 {
  text-decoration: none;
}
.lesson110-left-content {
  width: 880px;
}
.lesson110-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson110-text06 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson110-text07 {
  margin-bottom: 20px;
}
.lesson110-text08 {
  margin-bottom: 20px;
}
.lesson110-text24 {
  margin-bottom: 20px;
}
.lesson110-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson110-text25 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.lesson110-text26 {
  margin-bottom: 20px;
}
.lesson110-text62 {
  font-size: 16px;
  font-family: Inter;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.lesson110-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.lesson110-text64 {
  margin-bottom: 20px;
}
.lesson110-item {
  text-decoration: none;
}
.lesson110-arrowdown1 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson110-text84 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson110-item1 {
  text-decoration: none;
}
.lesson110-text85 {
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson110-arrowdown11 {
  width: 24px;
  height: 24px;
  position: relative;
}
.lesson110-toc {
  position: sticky;
  margin-left: var(--dl-space-space-threeunits);
}
.lesson110-text86 {
  color: rgb(24, 25, 31);
  width: 100%;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.lesson110-toclist1 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.lesson110-ul1 {
  padding-left: 0px;
}
.lesson110-link2 {
  text-decoration: none;
}
.lesson110-link3 {
  text-decoration: none;
}
.lesson110-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.lesson110-container08 {
  width: 100%;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.lesson110-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.lesson110-image2 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.lesson110-link5 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson110-link6 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.lesson110-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: rgba(249, 250, 251, 0.25);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.lesson110-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.lesson110-text87 {
  color: var(--dl-color-gray-white);
}
.lesson110-text88 {
  color: var(--dl-color-gray-white);
}
.lesson110-link7 {
  color: var(--dl-color-default-primary_1);
}
@media(max-width: 1600px) {
  .lesson110-header-lesson {
    align-self: center;
  }
  .lesson110-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-hero {
    align-self: center;
  }
  .lesson110-text {
    color: var(--dl-color-default-primary_2);
    font-size: 3rem;
    max-width: 100%;
  }
  .lesson110-lessons {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson110-tocmobile {
    display: none;
  }
  .lesson110-text87 {
    color: var(--dl-color-gray-white);
  }
  .lesson110-text88 {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .lesson110-navlink1 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-navlink2 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-navlink3 {
    color: var(--dl-color-default-primary_3);
    font-style: normal;
    font-weight: 500;
  }
  .lesson110-container02 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .lesson110-text {
    color: var(--dl-color-default-primary_2);
    width: 100%;
    font-size: 3rem;
    max-width: 100%;
    font-style: normal;
    font-weight: 600;
  }
  .lesson110-text01 {
    color: var(--dl-color-default-primary_3);
  }
  .lesson110-lessons {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .lesson110-tocmobile {
    display: none;
  }
  .lesson110-text02 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson110-link {
    text-decoration: none;
  }
  .lesson110-link1 {
    text-decoration: none;
  }
  .lesson110-left-content {
    position: relative;
  }
  .lesson110-text03 {
    line-height: 24px;
  }
  .lesson110-navlink4 {
    color: var(--dl-color-default-primary_1);
  }
  .lesson110-text06 {
    font-size: 24px;
  }
  .lesson110-text25 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .lesson110-text28 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text30 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text32 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text40 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text45 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text50 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text55 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text60 {
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-info {
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-default-purplelight);
  }
  .lesson110-text62 {
    font-size: 16px;
    font-family: Inter;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .lesson110-text84 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson110-text85 {
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .lesson110-toc {
    margin-left: var(--dl-space-space-twounits);
  }
  .lesson110-text86 {
    font-style: normal;
    font-weight: 600;
  }
  .lesson110-link2 {
    text-decoration: none;
  }
  .lesson110-link3 {
    text-decoration: none;
  }
  .lesson110-link5 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson110-link6 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 400;
    margin-left: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .lesson110-separator {
    border-color: rgba(249, 250, 251, 0.25);
  }
  .lesson110-text87 {
    color: var(--dl-color-default-light_blue);
    font-style: normal;
    font-weight: 400;
  }
  .lesson110-text88 {
    color: var(--dl-color-gray-white);
  }
  .lesson110-link7 {
    color: var(--dl-color-default-primary_1);
  }
}
@media(max-width: 991px) {
  .lesson110-hero {
    flex-direction: column;
  }
  .lesson110-container02 {
    width: 100%;
    align-items: flex-start;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .lesson110-text {
    text-align: left;
  }
  .lesson110-container04 {
    flex-direction: column;
  }
  .lesson110-tocmobile {
    display: flex;
    position: relative;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .lesson110-left-content {
    width: 100%;
  }
  .lesson110-toc {
    width: 100%;
    display: none;
  }
}
@media(max-width: 767px) {
  .lesson110-header-lesson {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .lesson110-nav {
    display: none;
  }
  .lesson110-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .lesson110-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson110-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson110-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson110-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lesson110-icon {
    width: 24px;
    height: 24px;
  }
  .lesson110-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-container02 {
    width: 100%;
    align-items: flex-start;
  }
  .lesson110-text {
    text-align: left;
  }
  .lesson110-container03 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-tocmobile {
    position: relative;
  }
  .lesson110-left-content {
    width: 100%;
  }
  .lesson110-toc {
    width: 100%;
  }
  .lesson110-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson110-text87 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-text88 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .lesson110-header-lesson {
    padding: var(--dl-space-space-unit);
  }
  .lesson110-icon {
    width: 24px;
    height: 24px;
  }
  .lesson110-mobile-menu {
    padding: 16px;
  }
  .lesson110-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .lesson110-container02 {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .lesson110-text {
    text-align: left;
  }
  .lesson110-container03 {
    padding: var(--dl-space-space-unit);
  }
  .lesson110-tocmobile {
    position: relative;
  }
  .lesson110-left-content {
    width: 100%;
  }
  .lesson110-toc {
    width: 100%;
  }
  .lesson110-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .lesson110-text87 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .lesson110-text88 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
